.content {width: 50%; background-color: #DCEAF2; border-radius: 4%;}

form#Página1 {margin: 4%;}

.containerforms{padding-top:8%;text-align: center;width:50%}

.forms h2 {
    color: white;
    text-align: left;
    font-size: 50px;
}

.forms h2 b {
    color: #1CFFD1;
    text-align: left;
    font-size: 40px;
}

.forms p {
    color: white;
    text-align: center;
    font-size: 150%;
    padding-right: 2%;
    padding-left: 2%;
}

.texto {
    width: 50%;
    padding: 1%;
}

.texto h4 a {
    color: #00baa7;
    font-family: 'Poppins', sans-serif;
}

.forms {display: flex; justify-content: right; padding-right: 2%; padding-left: 2%; padding-bottom: 10%; padding-top: 5%;
    background-image: url("../images/inscricao.png"); background-repeat: repeat-y;}

.msg-erro{
    color: #1C0A94; 
    margin-bottom: 4%;
    font-size: 20px;
}


/* Formulário */

#Página1 h2 {
    color: #1C0A94;
    font-size: 45px;
    text-align: center;
}

form#Página1 {
    margin: 4%;
    text-align: center;
}

input::placeholder {
    color: #1C0A94;
    font-size: 15px;
    font-family: 'Baloo Bhai 2', cursive;
  }

select::placeholder {
    color: #1C0A94;
    font-size: 15px;
    font-family: 'Baloo Bhai 2', cursive;
    }

textarea::placeholder {
    color: #1C0A94;
    font-size: 15px;
    font-family: 'Baloo Bhai 2', cursive;
    }

input#Nome-Completo {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
    border: 2px solid #1C0A94;
}

input#CPF {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
    border: 2px solid #1C0A94;
}

input#Idade {
    padding: 10px 8px;
    color: #1C0A94;
    border: 2px solid #1C0A94;
    width: 100%;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#E-mail {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
    border: 2px solid #1C0A94;
}

select#Estado {
    width: 100%;
    padding: 10px 8px;
    font-size: 15px;
    color: #1C0A94;
    border: 2px solid #1C0A94;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
    font-family: 'Baloo Bhai 2', cursive;
}

input#Cidade {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
    border: 2px solid #1C0A94;
}

select#Escolaridade {
    width: 100%;
    padding: 10px 8px;
    font-size: 15px;
    color: #1C0A94;
    border: 2px solid #1C0A94;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
    font-family: 'Baloo Bhai 2', cursive;
}

select#Estuda {
    width: 100%;
    padding: 10px 8px;
    font-size: 15px;
    color: #1C0A94;
    border: 2px solid #1C0A94;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
    font-family: 'Baloo Bhai 2', cursive;
}

select#Turno {
    width: 100%;
    padding: 10px 8px;
    font-size: 15px;
    color: #1C0A94;
    border: 2px solid #1C0A94;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
    font-family: 'Baloo Bhai 2', cursive;
}

select#Trabalha\? {
    padding: 10px 8px;
    color: #1C0A94;
    font-size: 15px;
    border: 2px solid #1C0A94;
    width: 100%;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
    font-family: 'Baloo Bhai 2', cursive;
}

select#Necessidades-especiais\? {
    width: 100%;
    padding: 10px 8px;
    font-size: 15px;
    color: #1C0A94;
    border: 2px solid #1C0A94;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
    font-family: 'Baloo Bhai 2', cursive;
}

input#Se-sim-escreva-aqui {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
    border: 2px solid #1C0A94;
}

select#Publico-de-Reassentamento\? {
    width: 100%;
    padding: 10px 8px;
    font-size: 15px;
    color: #1C0A94;
    border: 2px solid #1C0A94;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
    font-family: 'Baloo Bhai 2', cursive;
}

textarea#Interesse {
    width: 100%;
    padding: 10px 8px;
    background-color: white;
    font-size: 15px;
    color: #1C0A94;
    border: 2px solid #1C0A94;
    text-align: left;
    margin-bottom: 1%;
    border-radius: 1rem;
}

input#LinkQuetionario {
    background-color: white;
    margin-bottom: 1%;
    border-radius: 1rem;
    color: #1C0A94;
    border: 2px solid #1C0A94;
}

input[type="file"] {
    display: inline-block;
}

label {
    color: #1C0A94;
    font-size: 15px
}

label a {
    color: #00baa7;
}

input {
    -webkit-appearance: auto;
}

.Politicadiv {
    margin-bottom: 1%;
}

input[type="submit"] {
    background-color: #1CFFD1;
    border-color: #1CFFD1;
    color: #1C0A94;
    font-size: 25px;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
	font-weight: 800;
}

span.msg-erro.msg-envio {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

/* Formulário */

@media (max-width: 1024px) {

    .forms h2 b {
        font-size: 30px;
    }

    .forms h2 {
        font-size: 40px;
    }

 }


@media (max-width: 768px) {

    .forms h2 b {
        font-size: 20px;
        line-height: 0px;
    }

    .forms h2 {
        font-size: 30px;
    }

    .popupforms {
        margin-top: 15%;
    }

 }

@media (max-width: 479px) {
    #Página1 h2 {
        font-size: 30px;
    }

    .texto {
        display: none;
    }

    .content {
    top: 0;
    right: 0;
    width: 100%;
    border-radius:0%;
}

    .btn-active:hover {color: #171140;}

    #home {
        background-image: url("../images/inscricao.png"); background-repeat: repeat-y;
    }

    .msg-erro {
        color: #1C0A94;
        margin-bottom: 4%;
        font-size: 15px;
    }

    .popupforms {
        margin-top: 35%;
    }

 }


@media (max-width: 376px) {

 }

@media (max-width: 320px) { 

    #Página1 h2 {
        text-align: center;
    }

    input[type="submit"] {
        font-size: 15px;
    }

}